@media (max-width: 1280px){
    .blocks7{
        width: 95%;
        margin: 0 auto;
        padding: auto;
    }
    
}
@media(max-width: 550px){
    .section7_text {
        font-size: 20px;
    }
}